.container{
    width:758px;
    margin-top:230px;
    border:1px solid rgb(224, 224, 245);
    
    img{
        height:150px;

    }
    .carousel-item{
        p{
            font-weight:500;
        }
     }
    }
  




 i{
     border:1px solid gray;
     padding:10px;
     
     
 }   

      
        
    
    
   